<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
	    <ul>
		    <li><a href="/">About</a></li>
	      <li><a href="/pubs.html">Publications</a></li>                
	      <li><a href="/data/wnickgreene_cv.pdf">CV</a></li>
	      <li><a href="https://github.com/wngreene">GitHub</a></li>        
	    </ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
	    <ul>
	      <li><a href="mailto:wng@csail.mit.edu">email</a></li>
	      <li><a href="https://github.com/wngreene">github.com/wngreene</a></li>
			</ul>
		</footer>
	</body>
</html>
